* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.sec-pad-y {
  padding: 100px 0px;
}

.header-head {
  border-bottom: 1px solid #e7e7e7;
  padding: 15px 0px;
}

.header-head .head-first p {
  margin-bottom: 0px;
  color: #666666;
  font-size: 15px;
  font-weight: 500;
}

.header-head .head-first p a {
  color: #233645;
  text-decoration: underline;
}

.header-head .head-second {
  display: flex;
  justify-content: flex-end;
}

.header-head .head-second .online {
  border-right: 1px solid #e7e7e7;
  cursor: pointer;
}

.header-head .head-second .webmail {
  cursor: pointer;
}

.header-head .head-second p {
  margin-bottom: 0px;
  color: #233645;
  font-weight: 700;
  font-size: 15px;
}

.header-head .head-second i {
  cursor: pointer;
  margin-right: 18px;
  font-size: 14px;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background-color: white;
}

nav {
  height: 90px;
  padding: 0px !important;
  border: none;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
}

nav .navbar-nav {
  z-index: 9999999;
}

nav .navbar-nav .link-hover {
  display: none;
  position: absolute;
  top: 90px;
  left: -60px;
  width: 230px;
  padding: 0px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

nav .navbar-nav .link-hover li {
  padding: 10px 20px;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

nav .navbar-nav .link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 90px;
}

nav .navbar-nav .link:hover a {
  transition: 0.4s;
  color: #1ebeb6;
}

nav .navbar-nav .link:hover a i {
  transform: rotate(180deg);
  transition-delay: 0.1s;
}

nav .navbar-nav .link:hover .link-hover {
  display: block !important;
}

nav .navbar-nav .link:hover .link-hover li a {
  color: black;
}

nav .navbar-nav .link:hover .link-hover li a:hover {
  text-decoration: none;
  color: #1ebeb6;
  transition: 0.4s;
}

nav .navbar-nav a {
  color: #333333;
  font-weight: 550;
  font-size: 13px;
  letter-spacing: 0.3px;
}

nav .navbar-nav a:hover {
  color: #1ebeb6;
  transition: 0.3s;
}

nav .navbar-nav i {
  margin-right: 22px;
}

nav .navbar-nav i:hover {
  color: #1ebeb6;
  transition: 0.3s;
}

nav .nav-contact .nav-emergency {
  font-size: 11px;
  font-weight: 600;
  color: #666666;
  cursor: pointer;
}

nav .nav-contact .nav-emergency span {
  font-size: 17px;
  letter-spacing: -0.5px;
  cursor: pointer;
}

nav .fa-stethoscope {
  font-size: 40px;
  color: #1ebeb6;
  margin: 0px 23px;
}

nav .active {
  color: #1ebeb6 !important;
}

.nav-button {
  display: none;
  z-index: 999999;
}

.mobile-menu {
  height: 55vh;
  width: 100%;
  background-color: #ffffff;
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
}

.mobile-menu ul {
  padding-left: 15px !important;
}

.mobile-menu ul li {
  list-style: none;
}

.mobile-menu ul li a {
  color: #233645;
  font-size: 14px !important;
  font-weight: 600;
}

.mobile-menu .dropbtn {
  border-bottom: #c7c7c7 1px solid;
}

.mobile-menu .dropbtn a {
  color: #233645;
}

.mobile-menu .drop-menu {
  list-style: none;
  display: none;
}

.mobile-menu .drop-menu li {
  margin-left: 20px;
  border-bottom: #c7c7c7 1px solid;
}

.mobile-menu .drop-menu li a {
  color: #233645;
}

.mobile-menu .show {
  display: block;
}

#emergency {
  color: #666666;
  font-size: 15px;
}

#emergency p {
  line-height: 30px;
}

#emergency .emer-col {
  padding: 0px 40px;
}

#emergency .emer-img::before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 340px;
  width: 340px;
  background: #1ebeb6;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.1;
}

#emergency .emer-img::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 290px;
  width: 290px;
  background: #1ebeb6;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#emergency .emer-icon {
  color: #1ebeb6;
  width: 100%;
  height: 100px;
  background-image: url(../img/icon-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

#emergency h5 {
  color: #233645;
  letter-spacing: 0.8px;
}

.col-lg-7 {
  padding: 50px 50px;
}

.col-lg-7 .app-text {
  font-size: 14px;
  color: #666666;
  line-height: 30px;
}

.col-lg-7 .col-lg-4 .app-col {
  padding: 38px 40px;
  border: 1px solid #1ebeb6;
}

.col-lg-7 .col-lg-4 .app-col i {
  color: #1ebeb6;
  font-size: 45px;
}

.appoinment-box {
  background-color: #1ebeb6;
  color: white;
  padding: 60px 37px;
  position: relative;
  z-index: 1;
}

.appoinment-box .app-absolute {
  position: absolute;
  left: -30px;
  top: -30px;
  height: 100%;
  width: 100%;
  background: #1ebeb6;
  z-index: -1;
  opacity: 0.2;
}

.appoinment-box img {
  width: 118px;
  padding: 20px 0px;
}

.appoinment-box .name-phone, .appoinment-box .mddt {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 25px;
  color: #ffffff !important;
  min-height: 45px;
}

.appoinment-box .name-phone::placeholder, .appoinment-box .mddt::placeholder {
  color: white !important;
}

.appoinment-box .name-phone:focus, .appoinment-box .mddt:focus {
  background-color: transparent;
}

.appoinment-box .mddt {
  outline: none;
}

.appoinment-box .mddt option {
  background-color: white;
  color: #233645;
  border: 0px solid #666666;
  border-radius: 20px !important;
  outline: none;
}

.appoinment-box button {
  padding: 12px 40px;
  background: #ffffff;
  color: #1ebeb6;
  text-transform: capitalize;
  font-weight: 600;
  width: 100%;
  border: none;
  border-radius: 30px;
  font-size: 15px;
}

#special .special {
  background-image: url(../img/sec-doctor.jpg);
  background-position: center center !important;
  background-size: cover !important;
  height: 680px;
}

#special .special-bg {
  position: relative;
}

#special .special-bg .spec-info {
  padding: 80px 50px;
  background: #ffffff;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  left: -120px;
  top: 100px;
  border-bottom: 3px solid #1ebeb6;
}

#special .special-bg .spec-info::after {
  position: absolute;
  right: -120px;
  top: -120px;
  content: "";
  height: 300px;
  width: 300px;
  background: url(../img/sec-doctor-bg.png);
  z-index: -1;
  background-repeat: no-repeat;
  opacity: 0.2;
}

#special .special-bg .spec-info h5 {
  color: #1ebeb6;
}

#special .special-bg .spec-info p {
  font-size: 14px;
  color: #666666;
  line-height: 27px;
}

#special .special-bg .spec-info a {
  padding: 15px 25px;
  background: linear-gradient(to right, #1ebeb6 0%, #00827c 100%);
  border: 0px;
  font-weight: 600;
  color: white;
}

#special .special-bg .spec-info a i {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  color: #1ebeb6;
  line-height: 28px;
  padding-left: 3px;
}

footer {
  background-color: #001d4c;
}

footer #contact {
  color: #96aac1;
  font-size: 15px;
}

footer #contact li {
  font-weight: 600;
}

footer #contact .foot-col-4 {
  background: rgba(255, 255, 255, 0.05);
  padding: 37px;
  border-bottom: 2px solid #1ebeb6;
}

footer #contact .foot-col-4 h6 {
  color: white;
  font-size: 15px;
}

footer #the-end {
  background: rgba(255, 255, 255, 0.03);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  color: white;
}

footer #the-end p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .header-head .head-first p {
    text-align: center !important;
  }
  .header-head .head-second {
    justify-content: center !important;
  }
  .navbar-nav {
    flex-direction: column-reverse !important;
  }
  nav {
    height: auto !important;
  }
  nav .navbar-brand {
    margin-bottom: 90px;
  }
  .nav-contact {
    padding: 20px 0px;
  }
}

@media only screen and (max-width: 1023px) {
  nav {
    height: auto !important;
  }
  nav .navbar-brand {
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    width: 300px;
  }
  nav .navbar-brand img {
    height: 45px !important;
  }
  nav .nav-button {
    display: block;
  }
  nav .navigation {
    display: none !important;
  }
  nav .nav-contact {
    padding: 20px 0px;
  }
}

@media only screen and (max-width: 992px) {
  #emergency {
    padding: 40px 0px !important;
  }
  #appointment {
    padding: 40px 0px !important;
  }
  #special {
    padding: 0px 90px;
  }
  #special .special {
    height: 500px;
  }
  #special .spec-info {
    position: relative;
    left: 0px !important;
    top: 0px !important;
    margin-bottom: 30px !important;
  }
  #special .spec-info::after {
    height: 0px !important;
  }
  footer #the-end .end-col-1 {
    display: flex !important;
    justify-content: center !important;
  }
  footer #the-end .end-col-2 {
    display: flex !important;
    justify-content: center !important;
  }
}

@media only screen and (max-width: 767px) {
  .header-head {
    display: none;
  }
  nav {
    height: auto !important;
  }
  nav .navbar-brand {
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-left: 70px !important;
  }
  nav .navbar-brand img {
    height: 40px !important;
  }
  nav .nav-contact {
    display: none !important;
  }
  #emergency {
    padding: 20px 0px !important;
  }
  #appointment {
    padding: 20px 0px !important;
  }
  #special {
    padding: 0px 50px;
  }
  footer #contact .foot-col-2 {
    align-items: flex-start !important;
    margin-top: 30px !important;
  }
  footer #contact .foot-col-2 h5 {
    margin-left: 15px !important;
  }
  footer #contact .foot-col-3 {
    margin-top: 30px !important;
  }
  footer #contact .foot-col-4 {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 577px) {
  nav {
    height: auto !important;
  }
  nav .navbar-brand {
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    width: max-content;
    margin-left: 10px !important;
  }
  nav .navbar-brand img {
    height: 40px !important;
  }
  #emergency .emer-img::before {
    height: 230px;
    width: 230px;
  }
  #emergency .emer-img::after {
    height: 190px;
    width: 190px;
  }
  #special {
    padding: 0px 30px;
  }
  #special .special {
    height: 250px !important;
  }
  footer #the-end .end-icon-1 {
    margin: 0px 2px !important;
  }
  footer #the-end .end-icon-2 {
    margin: 0px 2px !important;
  }
  footer #the-end .end-icon-3 {
    margin: 0px 2px !important;
  }
}
/*# sourceMappingURL=style.css.map */