* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.sec-pad-y {
  padding: 100px 0px;
}

#service .range .col-lg-6 .img-shape .modalIntro .video a {
  display: inline-block !important;
  color: #ffffff;
  background-color: #1ebeb6 !important;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
}

#service .range .col-lg-6 .img-shape .modalIntro .video a i {
  font-size: 25px;
  line-height: 60px;
}

#service .range .col-lg-6 .img-shape .modalIntro .video a:hover {
  text-decoration: none;
}

header {
  z-index: 1555555;
}

header .header-head {
  z-index: 1555555 !important;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  padding: 15px 0px;
}

header .header-head .head-first p {
  margin-bottom: 0px;
  color: #666666;
  font-size: 15px;
  font-weight: 500;
}

header .header-head .head-first p a {
  color: #233645;
  text-decoration: underline;
}

header .header-head .head-second {
  display: flex;
  justify-content: flex-end;
}

header .header-head .head-second .online {
  border-right: 1px solid #e7e7e7;
  cursor: pointer;
}

header .header-head .head-second .webmail {
  cursor: pointer;
}

header .header-head .head-second p {
  margin-bottom: 0px;
  color: #233645;
  font-weight: 700;
  font-size: 15px;
}

header .header-head .head-second i {
  cursor: pointer;
  margin-right: 18px;
  font-size: 14px;
}

header nav {
  height: 90px;
  padding: 0px !important;
  border: none;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
  z-index: 1555555 !important;
}

header nav .navbar-nav .link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 90px;
}

header nav .navbar-nav .link:hover {
  transition: 0.4s;
}

header nav .navbar-nav .link:hover a {
  transition: 0.4s;
  color: #1ebeb6;
}

header nav .navbar-nav .link:hover a i {
  transform: rotate(180deg);
  transition-delay: 0.1s;
}

header nav .navbar-nav .link:hover .link-hover {
  display: block !important;
  z-index: 9999999;
}

header nav .navbar-nav .link:hover .link-hover li a {
  color: black;
}

header nav .navbar-nav .link:hover .link-hover li a:hover {
  text-decoration: none;
  color: #1ebeb6;
  transition: 0.4s;
}

header nav .navbar-nav .link-hover {
  display: none;
  position: absolute;
  top: 90px;
  left: -60px;
  width: 230px;
  padding: 0px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

header nav .navbar-nav .link-hover li {
  padding: 10px 20px;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

header nav .navbar-nav a {
  color: #333333;
  font-weight: 550;
  font-size: 13px;
  letter-spacing: 0.3px;
}

header nav .navbar-nav a:hover {
  color: #1ebeb6;
  transition: 0.3s;
}

header nav .navbar-nav i {
  margin-right: 22px;
}

header nav .navbar-nav i:hover {
  color: #1ebeb6;
  transition: 0.3s;
}

header nav .nav-contact .nav-emergency {
  font-size: 11px;
  font-weight: 600;
  color: #666666;
  cursor: pointer;
  z-index: -1 !important;
}

header nav .nav-contact .nav-emergency span {
  font-size: 17px;
  letter-spacing: -0.5px;
  cursor: pointer;
}

header nav .fa-stethoscope {
  font-size: 40px;
  color: #1ebeb6;
  margin: 0px 23px;
}

header nav .active {
  color: #1ebeb6 !important;
}

header .nav-button {
  display: none;
  z-index: 1000;
}

header .fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background-color: white;
}

header .mobile-menu {
  height: 38vh;
  width: 100%;
  background-color: #ffffff !important;
  display: none;
  top: 0px;
  overflow: scroll;
  z-index: 99999;
}

header .mobile-menu ul {
  padding-left: 15px !important;
  margin-top: 5px !important;
}

header .mobile-menu ul li {
  list-style: none;
}

header .mobile-menu ul li a {
  color: #233645;
  font-size: 14px !important;
  font-weight: 600;
}

header .mobile-menu .dropbtn {
  border-bottom: #c7c7c7 1px solid;
}

header .mobile-menu .dropbtn a {
  color: #233645;
}

header .mobile-menu .drop-menu {
  list-style: none;
  display: none;
}

header .mobile-menu .drop-menu li {
  margin-left: 20px;
  border-bottom: #c7c7c7 1px solid;
  background-color: white;
}

header .mobile-menu .drop-menu li a {
  color: #233645;
}

header .mobile-menu .show {
  display: block;
}

header .mob-fixed {
  position: fixed !important;
  top: 49px !important;
}

#home .carousel-item {
  position: relative;
}

#home .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 3s ease-in-out;
  animation: zoom 20s;
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

#home .carousel-item .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.408);
}

#home .carousel-item .layer .text {
  margin-top: 150px;
  height: 400px;
  padding: 50px;
}

#home .carousel-item .layer .text h4 {
  color: #ffffff;
  font-size: 22px;
  animation-delay: 1s;
  animation: down;
}

@keyframes down {
  0% {
    right: 0px;
  }
  100% {
    right: 40%;
  }
}

#home .carousel-item .layer .text h2 {
  font-size: 60px;
  color: #ffffff;
}

#home .carousel-item .layer .text h2 strong {
  display: block;
}

#home .carousel-item .layer .text .myBtn {
  display: inline-block !important;
  color: #ffffff;
  background-color: #1ebeb6 !important;
  height: 60px;
  width: 20%;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
}

#home .carousel-item .layer .text .myBtn i {
  font-size: 25px;
  line-height: 60px;
}

#home .carousel-item .layer .text .myBtn:hover {
  text-decoration: none;
}

#emergency {
  color: #666666;
  font-size: 15px;
}

#emergency p {
  line-height: 30px;
}

#emergency .emer-col {
  padding: 0px 40px;
}

#emergency .emer-img::before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 340px;
  width: 340px;
  background: #1ebeb6;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.1;
}

#emergency .emer-img::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  height: 290px;
  width: 290px;
  background: #1ebeb6;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#emergency .emer-icon {
  color: #1ebeb6;
  width: 100%;
  height: 100px;
  background-image: url(../img/icon-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

#emergency h5 {
  color: #233645;
  letter-spacing: 0.8px;
}

#service {
  position: relative;
  background-color: #f7f7f7;
}

#service .shape-bottom img {
  position: absolute;
  right: 0;
  width: 100%;
  opacity: 0.1;
  bottom: 0;
}

#service .shape {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  z-index: 1;
}

#service .range {
  padding-bottom: 120px;
}

#service .range .col-lg-6 .img-shape {
  z-index: 1;
  padding-right: 50px;
  margin-bottom: 50px;
}

#service .range .col-lg-6 .img-shape .modalIntro {
  position: absolute;
  right: 0;
  bottom: -50px;
  background: #ffffff;
  padding: 0px 30px;
  left: 120px;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
}

#service .range .col-lg-6 .img-shape .modalIntro .video {
  z-index: 0;
}

#service .range .col-lg-6 .img-shape .modalIntro .video a {
  text-align: center;
  border-radius: 50%;
  padding-left: 6px !important;
  z-index: 50 !important;
  position: relative;
  margin-bottom: 15px;
}

#service .range .col-lg-6 .img-shape .modalIntro .video a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -4px;
  top: -4px;
  width: 68px;
  height: 68px;
  background: #1ebeba;
  border-radius: 50%;
  animation: play 1.5s ease-out infinite;
}

@keyframes play {
  from {
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(1.4, 1.4);
  }
}

#service .range .col-lg-6 .img-shape .modalIntro .content {
  padding: 30px;
  padding-top: 50px;
}

#service .range .col-lg-6 {
  padding-left: 30px;
}

#service .range .col-lg-6 .info h6 {
  color: #1ebeb6;
  margin-bottom: 25px;
}

#service .range .col-lg-6 .info h3 {
  letter-spacing: 0.8px;
  margin: 0;
  color: #233645;
  margin-bottom: 25px;
  word-spacing: 3px;
}

#service .range .col-lg-6 .info p {
  text-align: justify;
  margin-bottom: 40px;
  color: #666666;
  font-size: 15px;
  font-weight: 300;
}

#service .range .col-lg-6 .info ul {
  padding: 0px;
}

#service .range .col-lg-6 .info ul li {
  margin-bottom: 80px;
  list-style-type: none;
}

#service .range .col-lg-6 .info ul li i {
  font-size: 50px;
  color: #1ebeb6;
}

#service .range .col-lg-6 .info ul li a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  text-decoration: none;
  color: #233645;
}

#service .range .col-lg-6 .info ul li a:hover {
  text-decoration: none;
  color: #233645;
  text-decoration: none;
}

#service .range .col-lg-6 .info .mybtn {
  padding: 15px 25px;
  background: linear-gradient(to right, #1ebeb6 0%, #00827c 100%);
  border: 0px;
  font-weight: 600;
  color: white;
}

#service .range .col-lg-6 .info .mybtn:hover {
  color: white;
  text-decoration: none;
}

#service .range .col-lg-6 .info .mybtn i {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  color: #1ebeb6;
  line-height: 28px;
  padding-left: 3px;
}

#service .text-content h5 {
  color: #1ebeb6;
  font-weight: 550;
}

#service .text-content h2 {
  font-weight: 600;
  color: #233645;
}

#service .text-content h2::before {
  background: #1ebeb6 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 50%;
  top: 90px;
  margin-left: -25px;
  position: absolute;
  width: 40px;
}

#service .text-content h2::after {
  background: #1ebeb6 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 50%;
  top: 90px;
  margin-left: 20px;
  position: absolute;
  width: 5px;
}

#service .text-content p {
  color: #666666;
  font-size: 14px;
  font-weight: 450;
}

#service .text-content hr {
  width: 40px;
  background-color: #1ebeb6;
  height: 1px;
  opacity: 0;
}

#service .owl-carousel {
  user-select: none;
}

#service .owl-carousel .owl-dots {
  margin-top: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#service .owl-carousel .owl-dots .active {
  position: relative;
  z-index: 0;
}

#service .owl-carousel .owl-dots .active::after {
  content: "";
  height: 5px;
  width: 5px;
  background-color: #1ebeb6;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#service .owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

#service .owl-carousel .owl-dots .owl-dot span {
  background-color: white !important;
  display: block;
  height: 20px;
  width: 20px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  margin: 5px;
}

#service .owl-carousel .item {
  background-color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #e7e7e7;
}

#service .owl-carousel .item::after {
  content: "";
  position: absolute;
  right: -50px;
  bottom: -80px;
  height: 150px;
  width: 150px;
  background: url("../img/shape/shape2.png");
  background-size: contain;
  z-index: 1;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
  opacity: 0.3;
}

#service .owl-carousel .item .image {
  margin: 10px;
}

#service .owl-carousel .item .info {
  color: #233645;
  padding: 25px 30px;
}

#service .owl-carousel .item .info .myButton {
  height: 44px;
  width: 44px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  color: #ffffff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  font-size: 14px;
}

#service .owl-carousel .item .info .myButton::after {
  position: absolute;
  left: -6px;
  top: -6px;
  content: "";
  height: 56px;
  width: 56px;
  background: #1ebeb6;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.5;
}

#service .owl-carousel .item .info .myButton a {
  text-decoration: none;
}

#service .owl-carousel .item .info .myButton a:hover {
  text-decoration: none;
}

#service .owl-carousel .item .info .myButton a i {
  color: white;
  font-size: 20px;
}

#service .owl-carousel .item p.text {
  color: #666666;
  font-size: 15px;
  padding-top: 12px;
}

#service .service .item-sec {
  padding: 50px 30px 50px 30px;
  background: #ffffff;
  box-shadow: 0 0 10px #e7e7e7;
  position: relative;
  z-index: 1;
  margin: 10px;
}

#service .service .item-sec .info-sec:hover .icon-sec::before {
  animation: infin 10s infinite linear;
  opacity: 1;
}

@keyframes infin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#service .service .item-sec .info-sec h4 {
  font-weight: 600;
  margin-bottom: 35px;
  text-transform: capitalize;
  font-size: 22px;
}

#service .service .item-sec .info-sec h4 a {
  color: #233645;
  outline: none;
}

#service .service .item-sec .info-sec h4 a:hover {
  text-decoration: none;
}

#service .service .item-sec .info-sec .icon-sec {
  display: inline-block;
  font-size: 45px;
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
  color: #ffffff;
  height: 90px;
  width: 90px;
  line-height: 92px;
}

#service .service .item-sec .info-sec .icon-sec::before {
  position: absolute;
  left: -9%;
  top: -9%;
  content: "";
  height: 120%;
  width: 120%;
  background: url(../img/about/1.png);
  z-index: -1;
  border-radius: 50%;
  opacity: 0.3;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.35s ease-in-out;
}

#service .service .item-sec .info-sec .icon-sec i {
  position: absolute;
  left: 3%;
  top: 2%;
  height: 95%;
  width: 95%;
  background: #1ebeb6;
  z-index: -1;
  border-radius: 50%;
  text-align: center;
  padding: 21px;
  font-size: 38px;
}

#service .service .item-sec .info-sec p {
  color: #666666;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  text-align: center;
}

#service .service .item-sec .info-sec a.btn {
  background-color: transparent;
  color: #1ebeb6 !important;
  border: 1px solid #1ebeb6 !important;
  background: #ffffff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 600;
}

#service .service .item-sec .info-sec a.btn i {
  font-size: 14px;
  background-color: #1ebeb6;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: -3px;
}

#service .service .item-sec .info-sec a.btn:hover {
  background-color: #1ebeb6;
  color: #ffffff !important;
}

#service .service .item-sec .info-sec a.btn:hover i {
  color: #1ebeb6 !important;
  background-color: white !important;
}

#appointment .col-lg-7 {
  padding: 50px 50px;
}

#appointment .col-lg-7 .app-text {
  font-size: 14px;
  color: #666666;
  line-height: 30px;
}

#appointment .col-lg-7 .col-lg-4 .app-col {
  padding: 38px 40px;
  border: 1px solid #1ebeb6;
}

#appointment .col-lg-7 .col-lg-4 .app-col i {
  color: #1ebeb6;
  font-size: 45px;
}

#appointment .col-lg-5 .appoinment-box {
  background-color: #1ebeb6;
  color: white;
  padding: 60px 37px;
  z-index: 1;
}

#appointment .col-lg-5 .appoinment-box .app-absolute {
  position: absolute;
  left: -15px;
  top: -25px;
  height: 100%;
  width: 100%;
  background: #1ebeb6;
  z-index: -1;
  opacity: 0.2;
}

#appointment .col-lg-5 .appoinment-box img {
  width: 118px;
  padding: 20px 0px;
}

#appointment .col-lg-5 .appoinment-box .name-phone, #appointment .col-lg-5 .appoinment-box .mddt {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 25px;
  color: #ffffff !important;
  min-height: 45px;
}

#appointment .col-lg-5 .appoinment-box .name-phone::placeholder, #appointment .col-lg-5 .appoinment-box .mddt::placeholder {
  color: white !important;
}

#appointment .col-lg-5 .appoinment-box .name-phone:focus, #appointment .col-lg-5 .appoinment-box .mddt:focus {
  background-color: transparent;
}

#appointment .col-lg-5 .appoinment-box .mddt {
  outline: none;
}

#appointment .col-lg-5 .appoinment-box .mddt option {
  background-color: white;
  color: #233645;
  border: 0px solid #666666;
  border-radius: 20px !important;
  outline: none;
}

#appointment .col-lg-5 .appoinment-box .dropdown-menu {
  top: -12px !important;
  left: 0 !important;
}

#appointment .col-lg-5 .appoinment-box .dropdown-menu .dropdown-item {
  cursor: pointer;
  font-size: 14px;
  line-height: 30px;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  display: block;
  margin: 0;
  background-color: white;
}

#appointment .col-lg-5 .appoinment-box .dropdown-menu .dropdown-item:active {
  color: #233645;
  background-color: white;
}

#appointment .col-lg-5 .appoinment-box .dropdown-menu .selected-option {
  font-weight: bold;
}

#appointment .col-lg-5 .appoinment-box .dropdown-menu button {
  outline: none;
}

#appointment .col-lg-5 .appoinment-box .dropdown-toggle {
  position: relative;
  text-align: left;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 25px;
  color: white;
  min-height: 50px;
  line-height: 1.5;
  font-size: 1rem;
}

#appointment .col-lg-5 .appoinment-box .dropdown-toggle:focus {
  outline: none;
}

#appointment .col-lg-5 .appoinment-box .dropdown-toggle::after {
  content: "\f107";
  position: absolute;
  top: 17px;
  right: 14px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  transition-delay: 0.01s;
  transition: all 0.33s;
  line-height: 1;
  border: 0;
  vertical-align: baseline;
}

#appointment .col-lg-5 .appoinment-box .dropdown-toggle::placeholder {
  color: #ffffff;
}

#appointment .col-lg-5 .appoinment-box .dropdown.show .dropdown-toggle::after {
  content: "\f107";
  transform: rotate(-180deg);
}

#appointment .col-lg-5 .appoinment-box .dropdown.show .dropdown-menu {
  padding: 0 !important;
  animation: dropAnime 0.3s forwards !important;
}

@keyframes dropAnime {
  0% {
    transform: scale(0.7, 0.7) translate3d(-20px, 20px, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(6px, 63px, 0);
    opacity: 1;
  }
}

#appointment .col-lg-5 .appoinment-box button#f-submit {
  padding: 12px 40px;
  background: #ffffff;
  color: #1ebeb6;
  text-transform: capitalize;
  font-weight: 600;
  width: 100%;
  border: none;
  border-radius: 30px;
  font-size: 15px;
}

#special .special {
  background-image: url(../img/sec-doctor.jpg);
  background-position: center center !important;
  background-size: cover !important;
  height: 680px;
}

#special .special-bg {
  position: relative;
}

#special .special-bg .spec-info {
  padding: 80px 50px;
  background: #ffffff;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  left: -120px;
  top: 100px;
  border-bottom: 3px solid #1ebeb6;
}

#special .special-bg .spec-info::after {
  position: absolute;
  right: -120px;
  top: -120px;
  content: "";
  height: 300px;
  width: 300px;
  background: url(../img/sec-doctor-bg.png);
  z-index: -1;
  background-repeat: no-repeat;
  opacity: 0.2;
}

#special .special-bg .spec-info h5 {
  color: #1ebeb6;
}

#special .special-bg .spec-info p {
  font-size: 14px;
  color: #666666;
  line-height: 27px;
}

#special .special-bg .spec-info a {
  padding: 15px 25px;
  background: linear-gradient(to right, #1ebeb6 0%, #00827c 100%);
  border: 0px;
  font-weight: 600;
  color: white;
}

#special .special-bg .spec-info a i {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  color: #1ebeb6;
  line-height: 28px;
  padding-left: 3px;
}

#doctors {
  background-color: #f7f7f7;
}

#doctors .doctors h5 {
  color: #1ebeb6;
}

#doctors .doctors h3::before {
  background: #1ebeb6 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 40px;
  top: 81px;
}

#doctors .doctors h3::after {
  background: #1ebeb6 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: 20px;
  position: absolute;
  width: 5px;
  top: 81px;
}

#doctors .doctors p {
  width: 58%;
  font-size: 15px;
  color: #666666;
  line-height: 28px;
}

#doctors .nav .nav-link {
  background: rgba(30, 190, 182, 0.1) !important;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: inherit;
  padding: 20px 15px;
  color: #233645;
  font-size: 15px;
  font-weight: 600;
}

#doctors .nav .nav-link .fa-user-cog {
  margin-right: 12px;
}

#doctors .nav .active {
  background: #1ebeb6 !important;
  color: white;
}

#doctors .tab-pane .col-lg-6 {
  padding: 0px 22px 32px 22px !important;
}

#doctors .tab-pane .col-lg-6 .info {
  padding: 30px 40px;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

#doctors .tab-pane .col-lg-6 .info::after {
  position: absolute;
  left: -15px;
  top: 30px;
  content: "";
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ffffff;
}

#doctors .tab-pane .col-lg-6 .info span {
  color: #1ebeb6;
}

#doctors .tab-pane .col-lg-6 .info p {
  font-size: 14px !important;
  color: #666666;
  line-height: 25px;
}

#doctors .tab-pane .col-lg-6 .info a {
  padding: 15px 25px;
  background: linear-gradient(to right, #1ebeb6 0%, #00827c 100%);
  border: 0px;
  border-radius: 2px;
  font-weight: 600;
  color: white;
}

#doctors .tab-pane .col-lg-6 .info a:hover {
  text-decoration: none;
}

#doctors .tab-pane .col-lg-6 .info a i {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  color: #1ebeb6;
  line-height: 28px;
  padding-left: 12px;
  margin-right: 5px;
}

#doctors .single-item {
  margin-bottom: 30px;
}

#doctors .single-item .item-doc {
  background: #ffffff;
}

#doctors .single-item .item-doc .thumb-doc {
  position: relative;
  z-index: 1;
}

#doctors .single-item .item-doc .thumb-doc .contact-doc {
  background: linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translate(-50%, 0);
  padding: 10px 25px;
  border-radius: 30px;
}

#doctors .single-item .item-doc .thumb-doc .contact-doc ul {
  display: flex !important;
  margin: 0;
  list-style-type: none;
  padding-left: 0px;
}

#doctors .single-item .item-doc .thumb-doc .contact-doc ul li {
  margin: 0 5px;
  position: relative;
  z-index: 1;
  padding: 0 5px;
}

#doctors .single-item .item-doc .thumb-doc .contact-doc ul li::after {
  display: flex !important;
  margin: 0 5px;
  position: relative;
  z-index: 1;
  padding: 0 5px;
}

#doctors .single-item .item-doc .thumb-doc .contact-doc ul li a {
  display: inline-block;
  color: #ffffff;
}

#doctors .single-item .item-doc .info {
  text-align: center;
  padding: 30px;
  padding-top: 50px;
}

#doctors .single-item .item-doc .info h6 {
  font-weight: 600;
  margin-bottom: 10px;
}

#doctors .single-item .item-doc .info span {
  color: #1ebeb6;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
}

#testimonials {
  overflow: hidden;
}

#testimonials .col-lg-5 {
  padding: 0px !important;
}

#testimonials .col-lg-5 .test-head {
  padding-left: 160px;
  padding-right: 40px;
}

#testimonials .col-lg-5 .test-head h6 {
  padding: 10px 0px;
}

#testimonials .col-lg-5 .test-head h2 {
  padding: 10px 0px;
}

#testimonials .col-lg-5 .test-head::before {
  position: absolute;
  left: 145;
  top: -100px;
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 120px;
  opacity: 0.2;
  color: #ffffff;
}

#testimonials .col-lg-5 .test-head::after {
  position: absolute;
  right: 0;
  top: -150%;
  height: 770px;
  width: 100%;
  background: #1ebeb6;
  z-index: -1;
  content: "";
}

#testimonials .col-lg-5 .test-head h6 {
  color: white;
}

#testimonials .col-lg-5 .test-head h2 {
  color: white;
}

#testimonials .col-lg-5 .test-head a {
  padding: 10px 23px;
  background: white;
  border: 0px;
  border-radius: 5px;
  font-weight: 600;
  color: #233645;
  font-size: 14px;
}

#testimonials .col-lg-5 .test-head a:hover {
  text-decoration: none;
}

#testimonials .col-lg-5 .test-head a i {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #1ebeb6;
  color: white;
  line-height: 28px;
  padding-left: 3px;
  margin-right: 5px;
}

#testimonials .col-lg-7 {
  padding: 0px !important;
  padding-left: 30px !important;
}

#testimonials .col-lg-7 .owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

#testimonials .col-lg-7 .owl-carousel .owl-dots .active {
  position: relative;
  z-index: 0;
}

#testimonials .col-lg-7 .owl-carousel .owl-dots .active::after {
  content: "";
  height: 5px;
  width: 5px;
  background-color: #1ebeb6;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#testimonials .col-lg-7 .owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

#testimonials .col-lg-7 .owl-carousel .owl-dots .owl-dot span {
  background-color: white !important;
  display: block !important;
  height: 20px;
  width: 20px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  margin: 5px;
}

#testimonials .col-lg-7 .owl-carousel .owl-item {
  padding: 20px 20px !important;
}

#testimonials .col-lg-7 .owl-carousel .owl-item .item {
  padding: 30px 30px !important;
  box-shadow: 0 0 10px #e7e7e7;
  background: #ffffff;
}

#testimonials .col-lg-7 .owl-carousel .owl-item .item p {
  font-size: 14px;
}

#testimonials .col-lg-7 .owl-carousel .owl-item .item span {
  font-size: 11px !important;
  text-transform: uppercase;
}

#testimonials .col-lg-7 .owl-carousel .owl-item .item span strong {
  color: #1ebeb6;
}

#testimonials .col-lg-7 .owl-carousel .owl-item .item .provider {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

#testimonials .col-lg-7 .owl-carousel .owl-item .item .provider .thumb {
  height: 80px;
  width: 80px;
  margin-right: 15px;
  margin: auto auto 30px;
}

#testimonials .col-lg-7 .owl-carousel .owl-item .item .provider .thumb img {
  border-radius: 50%;
}

#testimonials .col-lg-7 .owl-carousel .owl-item .item .provider .bio h5 {
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 5px;
}

#testimonials .col-lg-7 .owl-carousel .owl-item .item .info {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #666666;
  text-align: center;
}

#blog {
  background-color: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 90px;
}

#blog .text-content {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

#blog .text-content h2 {
  font-weight: 600;
  color: #233645;
}

#blog .text-content h2::before {
  background: #1ebeb6 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 40px;
  top: 81px;
}

#blog .text-content h2::after {
  background: #1ebeb6 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  top: 81px;
  margin-left: 20px;
  position: absolute;
  width: 5px;
}

#blog .text-content h4 {
  color: #1ebeb6;
}

#blog .text-content h4 a {
  text-decoration: none;
}

#blog .text-content h4 a:hover {
  text-decoration: none;
}

#blog .text-content hr {
  width: 40px;
  background-color: #1ebeb6;
  height: 1px;
  opacity: 0;
}

#blog .item-news {
  box-shadow: 0 0 10px #e7e7e7;
  background-color: white;
}

#blog .item-news .image {
  position: relative;
  cursor: pointer;
}

#blog .item-news .image .date {
  position: absolute;
  left: 30px;
  bottom: 30px;
  height: 70px;
  width: 80px;
  background: #1ebeb6;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 0 20px;
  line-height: 1.3;
  font-weight: 600;
  padding-top: 15px;
  border-radius: 5px 5px 0 5px;
  text-transform: uppercase;
}

#blog .item-news .image .date::after {
  position: absolute;
  right: 0;
  bottom: -10px;
  content: "";
  border-right: 15px solid #1ebeb6;
  border-top: 0;
  border-bottom: 15px solid transparent;
}

#blog .item-news .info {
  padding: 30px 30px 5px 30px;
  cursor: pointer;
}

#blog .item-news .info p {
  color: #666666;
  font-weight: 500;
  font-size: 14px;
}

#blog .item-news .info p i {
  color: #1ebeb6;
}

#blog .item-news .info p.text {
  font-size: 15px;
  padding: 8px 0px;
  font-weight: 400;
}

#blog .item-news .info h5 {
  cursor: pointer;
}

#blog .item-news .info h5:hover {
  color: #1ebeb6;
  transition: 0.4s;
}

#blog .item-news .info ul {
  margin-top: 20px;
  padding-left: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#blog .item-news .info ul li {
  list-style-type: none;
}

#blog .item-news .info ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #666666;
}

#blog .item-news .info ul li a:hover {
  text-decoration: none;
  color: #1ebeb6;
  transition: 0.5s;
}

#blog .item-news .info ul li a img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

#blog .item-news .info ul li a {
  text-decoration: none;
}

#blog .item-news .info ul li a:hover {
  text-decoration: none;
}

#blog .item-news .info ul li a i {
  color: #1ebeb6;
}

#blog .col-md-12.pagi-area {
  text-align: center !important;
}

#blog .col-md-12.pagi-area nav {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  overflow-x: hidden;
  color: #666666;
}

#blog .col-md-12.pagi-area nav ul li a {
  display: inline-block;
  padding: 15px 20px;
  margin: 5px;
  margin-bottom: 0;
  border-radius: 10px;
  color: #1ebeb6;
}

#blog .col-md-12.pagi-area nav ul li.active a {
  background: #1ebeb6;
  color: #ffffff;
  border-color: transparent;
}

#contact .col-lg-7 {
  background-image: url(../img/contact.jpg);
  height: 467px;
  background-size: cover;
}

#contact .col-lg-7 .contact-info {
  position: absolute;
  left: 30px;
  bottom: 0;
  padding: 30px;
  background: #ffffff;
  right: 30px;
}

#contact .col-lg-7 .contact-info .contact-info-item h6 {
  color: #233645;
}

#contact .col-lg-7 .contact-info .contact-info-item h6 i {
  color: #1ebeb6;
  margin-right: 8px;
}

#contact .col-lg-7 .contact-info .contact-info-item span {
  font-size: 15px;
  color: #666666;
}

#contact .col-lg-5 {
  padding-left: 50px;
}

#contact .col-lg-5 h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

#contact .col-lg-5 h2 strong {
  display: block;
  color: #1ebeb6;
  margin-top: 5px;
  font-weight: 700;
}

#contact .col-lg-5 form .col-lg-12 .form-group {
  margin-bottom: 1rem;
}

#contact .col-lg-5 form .col-lg-12 .form-group input {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
  border-radius: inherit;
}

#contact .col-lg-5 form .col-lg-12 .form-group input:focus {
  box-shadow: none;
}

#contact .col-lg-5 form .col-lg-12 .form-group span {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #666666;
}

#contact .col-lg-5 form .col-lg-6 .form-group {
  margin-bottom: 1rem;
}

#contact .col-lg-5 form .col-lg-6 .form-group input {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
  border-radius: inherit;
}

#contact .col-lg-5 form .col-lg-6 .form-group input:focus {
  box-shadow: none;
}

#contact .col-lg-5 form .col-lg-6 .form-group span {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #666666;
}

#contact .col-lg-5 form .col-lg-12 button {
  background: linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  padding: 12px 35px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 15px;
  border: none !important;
  box-shadow: inherit !important;
  outline: inherit !important;
}

#contact .col-lg-5 form .col-lg-12 .form-group {
  margin-bottom: 1rem;
}

#contact .col-lg-5 form .col-lg-12 .form-group textarea {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 150px;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
  border-radius: inherit;
}

#contact .col-lg-5 form .col-lg-12 .form-group textarea:focus {
  box-shadow: none;
}

footer {
  background-color: #001d4c;
}

footer #contacts {
  color: #96aac1;
  font-size: 15px;
}

footer #contacts li {
  font-weight: 600;
}

footer #contacts .foot-col-4 {
  background: rgba(255, 255, 255, 0.05);
  padding: 37px;
  border-bottom: 2px solid #1ebeb6;
}

footer #contacts .foot-col-4 h6 {
  color: white;
  font-size: 15px;
}

footer #the-end {
  background: rgba(255, 255, 255, 0.03);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  color: white;
}

footer #the-end p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
}

.bg-color {
  background: url(../img/sec-bag.png), linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.bg-color .col-lg-8 {
  padding-top: 100px !important;
}

.bg-color .col-lg-8 h1 {
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.bg-color .col-lg-8 ul {
  background: transparent none repeat scroll 0 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.bg-color .col-lg-8 ul li.active {
  color: #dddddd;
  text-decoration: underline;
}

.bg-color .col-lg-8 ul li {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 5px;
}

.bg-color .col-lg-8 ul li a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  position: relative;
}

.bg-color .col-lg-8 ul li a::after {
  content: "";
  font-family: "themify";
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  right: -13px;
  height: 8px;
  width: 8px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  top: 6px;
}

.bg-color .col-lg-8 ul li a i {
  margin-right: 5px;
}

#count {
  position: relative;
  z-index: 1;
}

#count::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 50%;
  width: 100%;
  background: #ffffff;
  z-index: -1;
}

#count .container .fun-fact-items {
  position: relative;
  z-index: 1;
  padding: 120px 50px;
}

#count .container .fun-fact-items::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: url(../img/sec-bag.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
  opacity: 1;
  background-color: #1ebeb6;
}

#count .container .fun-fact-items .row {
  display: flex;
}

#count .container .fun-fact-items .row .item .fun-fact {
  display: flex;
  flex-direction: column;
}

#count .container .fun-fact-items .row .item .fun-fact .timer {
  display: inline-block;
  font-size: 40px;
  font-weight: 800;
  position: relative;
  z-index: 1;
  margin-left: -20px;
}

#count .container .fun-fact-items .row .item .fun-fact .timer i {
  font-weight: 600;
  font-size: 20px;
}

#count .container .fun-fact-items .row .item .fun-fact .span {
  display: block;
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: 700;
}

@media only screen and (max-width: 1200px) {
  .header-head .head-first p {
    text-align: center !important;
  }
  .header-head .head-second {
    justify-content: center !important;
  }
  .navbar-nav {
    flex-direction: column-reverse !important;
  }
  nav {
    height: auto !important;
  }
  nav .navbar-brand {
    margin-bottom: 90px;
  }
  .nav-contact {
    padding: 20px 0px;
  }
  #doctors .tab-pane .col-lg-6 .info span {
    font-size: 14px !important;
  }
  #testimonials .test-head::before {
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: -100px !important;
  }
  #testimonials .test-head::after {
    top: -150%;
    height: 1000px !important;
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  nav {
    height: auto !important;
  }
  nav .navbar-brand {
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    width: 300px;
  }
  nav .navbar-brand img {
    height: 45px !important;
  }
  nav .nav-button {
    display: block !important;
  }
  nav .navigation {
    display: none !important;
  }
  nav .nav-contact {
    padding: 20px 0px;
  }
}

@media only screen and (max-width: 992px) {
  #emergency {
    padding: 40px 0px !important;
  }
  #service .col-lg-6 {
    margin-bottom: 40px;
  }
  #service .col-lg-6 .modalIntro {
    position: relative !important;
    left: 0 !important;
    bottom: 0px !important;
  }
  #appointment {
    padding: 40px 0px !important;
  }
  #special {
    padding: 0px 90px;
  }
  #special .special {
    height: 500px;
  }
  #special .spec-info {
    position: relative;
    left: 0px !important;
    top: 0px !important;
    margin-bottom: 30px !important;
  }
  #special .spec-info::after {
    height: 0px !important;
  }
  #doctors .nav {
    flex-direction: row !important;
  }
  #doctors .nav .nav-link {
    width: 50%;
    padding-right: 10px !important;
  }
  #doctors .tab-pane .col-lg-6 {
    padding: 0px !important;
  }
  #doctors .tab-pane .col-lg-6 .info {
    margin-bottom: 30px !important;
  }
  #doctors .tab-pane .col-lg-6 .info span {
    font-size: 14px !important;
  }
  #doctors .tab-pane .col-lg-6 .info::after {
    left: 50% !important;
    top: -15px !important;
    border-top: transparent !important;
    border-bottom: 15px solid #ffffff !important;
    border-right: 15px solid transparent !important;
    border-left: 15px solid transparent !important;
    margin-left: -15px !important;
  }
  #testimonials .test-head {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #testimonials .test-head::before {
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: -100px !important;
  }
  #testimonials .test-head::after {
    height: 700% !important;
  }
  #testimonials .col-lg-7 {
    padding: 0px 100px !important;
  }
  #contact .col-lg-7 .contact-info {
    flex-direction: column !important;
    bottom: -30px;
    box-shadow: 0 0 10px #e7e7e7 !important;
  }
  #contact .col-lg-7 .contact-info .contact-info-item {
    margin: 0px !important;
    margin-bottom: 20px !important;
  }
  #contact .col-lg-5 {
    padding-top: 50px !important;
  }
  footer #the-end .end-col-1 {
    display: flex !important;
    justify-content: center !important;
  }
  footer #the-end .end-col-2 {
    display: flex !important;
    justify-content: center !important;
  }
}

@media only screen and (max-width: 767px) {
  .header-head {
    display: none;
  }
  nav {
    height: auto !important;
  }
  nav .navbar-brand {
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-left: 70px !important;
  }
  nav .navbar-brand img {
    height: 40px !important;
  }
  nav .nav-contact {
    display: none !important;
  }
  #emergency {
    padding: 20px 0px !important;
  }
  #emergency .emer-img {
    display: none !important;
  }
  #appointment {
    padding: 20px 0px !important;
  }
  #service .col-lg-6 .img-shape {
    padding: 0px !important;
  }
  #service .col-lg-6 {
    padding-left: 15px !important;
  }
  #special {
    padding: 0px 50px;
  }
  #doctors .nav {
    flex-direction: column !important;
  }
  #doctors .nav .nav-link {
    width: 100% !important;
    padding-right: 10px !important;
  }
  #testimonials .col-lg-7 {
    padding: 0px 60px !important;
  }
  footer #contacts .foot-col-2 {
    align-items: flex-start !important;
    margin-top: 30px !important;
  }
  footer #contacts .foot-col-2 h5 {
    margin-left: 15px !important;
  }
  footer #contacts .foot-col-3 {
    margin-top: 30px !important;
  }
  footer #contacts .foot-col-4 {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 577px) {
  nav {
    height: auto !important;
  }
  nav .navbar-brand {
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    width: max-content;
    margin-left: 10px !important;
  }
  nav .navbar-brand img {
    height: 40px !important;
  }
  #emergency .emer-img::before {
    height: 230px;
    width: 230px;
  }
  #emergency .emer-img::after {
    height: 190px;
    width: 190px;
  }
  #appointment .appoinment-box .app-absolute {
    position: relative !important;
  }
  #service .col-lg-6 {
    padding-right: 15 !important;
    margin-bottom: 40px;
  }
  #service .col-lg-6 .modalIntro {
    flex-direction: column;
    position: relative !important;
    left: 0 !important;
    bottom: -20px !important;
    padding: 50px 30px !important;
  }
  #service .col-lg-6 .modalIntro .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px !important;
  }
  #service .col-lg-6 .modalIntro .content h5 {
    font-size: 17px !important;
    margin-top: 20px !important;
  }
  #service .col-lg-6 {
    padding-right: 15px !important;
  }
  #service .col-lg-6 .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
  #service .col-lg-6 .info ul {
    text-align: left;
    flex-direction: column;
  }
  #service .col-lg-6 h2 {
    font-size: 25px !important;
  }
  #special {
    padding: 0px 30px;
  }
  #special .special {
    height: 250px !important;
  }
  #testimonials .test-head h2 {
    font-size: 15px !important;
  }
  #testimonials .test-head::before {
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: -100px !important;
  }
  #testimonials .test-head::after {
    height: 600% !important;
  }
  #testimonials .col-lg-7 {
    padding: 0px 15px !important;
  }
  footer #contacts .foot-col-1 .col-2.foot {
    padding-right: 0px !important;
    padding-left: 20px !important;
  }
  footer #the-end .end-icon-1 {
    margin: 0px 2px !important;
  }
  footer #the-end .end-icon-2 {
    margin: 0px 2px !important;
  }
  footer #the-end .end-icon-3 {
    margin: 0px 2px !important;
  }
}
/*# sourceMappingURL=style.css.map */