@import "partials/variables";
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
// MY-CLASS-CSS-START
.sec-pad-y {
  padding: 100px 0px;
}
// MY-CLASS-CSS-END
// HEADER START HEADER START HEADER START HEADER START
// HEADER-HEAD START
.header-head {
  border-bottom: 1px solid #e7e7e7;
  padding: 15px 0px;
  .head-first {
    p {
      margin-bottom: 0px;
      color: $grey;
      font-size: 15px;
      font-weight: 500;
      a {
        color: $black;
        text-decoration: underline;
      }
    }
  }
  .head-second {
    display: flex;
    justify-content: flex-end;

    .online {
      border-right: 1px solid #e7e7e7;
      cursor: pointer;
    }
    .webmail {
      cursor: pointer;
    }
    p {
      margin-bottom: 0px;
      color: $black;
      font-weight: 700;
      font-size: 15px;
    }
    i {
      cursor: pointer;
      margin-right: 18px;
      font-size: 14px;
    }
  }
}
// HEADER-HEAD END
// NAV START
// DEKSTOP-NAV
.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background-color: white;
}
nav {
  height: 90px;
  padding: 0px !important;
  border: none;
  box-shadow: 0 8px 25px 0 $border-color;

  .navbar-nav {
    z-index: 9999999;
    .link-hover {
      display: none;
      position: absolute;
      top: 90px;
      left: -60px;
      width: 230px;
      padding: 0px;
      background-color: white;
      border: 1px solid $border-color;

      li {
        padding: 10px 20px;
        list-style: none;
        border-bottom: 1px solid $border-color;
      }
    }
    .link {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: relative;
      height: 90px;
      &:hover {
        a {
          transition: 0.4s;
          color: $primary-color;
          i {
            transform: rotate(180deg);
            transition-delay: 0.1s;
          }
        }

        .link-hover {
          display: block !important;
          li {
            a {
              color: black;
              &:hover {
                text-decoration: none;
                color: $primary-color;
                transition: 0.4s;
              }
            }
          }
        }
      }
    }
    a {
      color: #333333;
      font-weight: 550;
      font-size: 13px;
      letter-spacing: 0.3px;
      &:hover {
        color: $primary-color;
        transition: 0.3s;
      }
    }
    i {
      margin-right: 22px;
      &:hover {
        color: $primary-color;
        transition: 0.3s;
      }
    }
  }
  .nav-contact .nav-emergency {
    font-size: 11px;
    font-weight: 600;
    color: $grey;
    cursor: pointer;

    span {
      font-size: 17px;
      letter-spacing: -0.5px;
      cursor: pointer;
    }
  }

  .fa-stethoscope {
    font-size: 40px;
    color: $primary-color;
    margin: 0px 23px;
  }
  .active {
    color: $primary-color !important;
  }
}
.nav-button {
  display: none;
  z-index: 999999;
}
// MOBILE NAV START
.mobile-menu {
  height: 55vh;
  width: 100%;
  background-color: #ffffff;
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;

  ul {
    padding-left: 15px !important;
    li {
      list-style: none;

      a {
        color: $black;
        font-size: 14px !important;
        font-weight: 600;
      }
    }
  }
  .dropbtn {
    border-bottom: #c7c7c7 1px solid;
    a {
      color: $black;
    }
  }
  .drop-menu {
    list-style: none;
    display: none;
    li {
      margin-left: 20px;
      border-bottom: #c7c7c7 1px solid;
      a {
        color: $black;
      }
    }
  }
  .show {
    display: block;
  }
}
// MOBILE NAV END
// NAV END
// EMERGENCY_SECTION_START
#emergency {
  p {
    line-height: 30px;
  }
  .emer-col {
    padding: 0px 40px;
  }

  .emer-img {
    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      content: "";
      height: 340px;
      width: 340px;
      background: #1ebeb6;
      z-index: -1;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      opacity: 0.1;
    }
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      content: "";
      height: 290px;
      width: 290px;
      background: $primary-color;
      z-index: -1;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }

  .emer-icon {
    color: $primary-color;
    width: 100%;
    height: 100px;
    background-image: url(../img/icon-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  color: $grey;
  font-size: 15px;
  h5 {
    color: $black;
    letter-spacing: 0.8px;
  }
}
// APPOINTMENT-SECTION-START
.col-lg-7 {
  padding: 50px 50px;
  .app-text {
    font-size: 14px;
    color: $grey;
    line-height: 30px;
  }
  .col-lg-4 {
    .app-col {
      padding: 38px 40px;
      border: 1px solid $primary-color;
      i {
        color: $primary-color;
        font-size: 45px;
      }
    }
  }
}
.appoinment-box {
  .app-absolute {
    position: absolute;
    left: -30px;
    top: -30px;
    height: 100%;
    width: 100%;
    background: #1ebeb6;
    z-index: -1;
    opacity: 0.2;
  }
  img {
    width: 118px;
    padding: 20px 0px;
  }
  .name-phone {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0 25px;
    color: #ffffff !important;
    min-height: 45px;
    &::placeholder {
      color: white !important;
    }
    &:focus {
      background-color: transparent;
    }
  }

  .mddt {
    @extend .name-phone;
    outline: none;
    option {
      background-color: white;
      color: $black;

      border: 0px solid $grey;
      border-radius: 20px !important;
      outline: none;
    }
  }
  button {
    padding: 12px 40px;
    background: #ffffff;
    color: #1ebeb6;
    text-transform: capitalize;
    font-weight: 600;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 15px;
  }

  background-color: $primary-color;
  color: white;
  padding: 60px 37px;
  position: relative;
  z-index: 1;
}
// APPOINTMENT-SECTION-END

// SPECIAL-SECTION-START
#special {
  .special {
    background-image: url(../img/sec-doctor.jpg);
    background-position: center center !important;
    background-size: cover !important;
    height: 680px;
  }
  .special-bg {
    position: relative;
    .spec-info {
      padding: 80px 50px;
      background: #ffffff;
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
      position: relative;
      left: -120px;
      top: 100px;
      border-bottom: 3px solid $primary-color;
      &::after {
        position: absolute;
        right: -120px;
        top: -120px;
        content: "";
        height: 300px;
        width: 300px;
        background: url(../img/sec-doctor-bg.png);
        z-index: -1;
        background-repeat: no-repeat;
        opacity: 0.2;
      }
      h5 {
        color: $primary-color;
      }
      p {
        font-size: 14px;
        color: $grey;
        line-height: 27px;
      }
      a {
        padding: 15px 25px;
        background: linear-gradient(
          to right,
          rgba(30, 190, 182, 1) 0%,
          rgba(0, 130, 124, 1) 100%
        );
        border: 0px;
        font-weight: 600;
        color: white;
        i {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: white;
          color: $primary-color;
          line-height: 28px;
          padding-left: 3px;
        }
      }
    }
  }
}
// SPECIAL-SECTION-END
#doctors {
  background-color: #f7f7f7;
  .doctors {
    h5 {
      color: $primary-color;
    }
    h3 {
      &::before {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        width: 40px;
        top: 81px;
      }
      &::after {
        background: #1ebeb6 none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: 20px;
        position: absolute;
        width: 5px;
        top: 81px;
      }
    }
    p {
      width: 58%;
      font-size: 15px;
      color: $grey;
      line-height: 28px;
    }
  }
  .nav {
    .nav-link {
      background: rgba(30, 190, 182, 0.1) !important;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $border-color;
      border-radius: inherit;
      padding: 20px 15px;
      color: $black;
      font-size: 15px;
      font-weight: 600;
      .fa-user-cog {
        margin-right: 12px;
      }
    }
    .active {
      background: rgba(30, 190, 182, 1) !important;
      color: white;
    }
  }
  .tab-pane {
    .col-lg-6 {
      padding: 0px 22px 32px 22px !important;
      .info {
        padding: 30px 40px;
        background: #ffffff;
        position: relative;
        z-index: 1;
        &::after {
          position: absolute;
          left: -15px;
          top: 30px;
          content: "";
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-right: 15px solid #ffffff;
        }
        span {
          color: $primary-color;
        }
        p {
          font-size: 14px !important;
          color: $grey;
          line-height: 25px;
        }

        a {
          padding: 15px 25px;
          background: linear-gradient(
            to right,
            rgba(30, 190, 182, 1) 0%,
            rgba(0, 130, 124, 1) 100%
          );
          border: 0px;
          border-radius: 2px;
          font-weight: 600;
          color: white;
          &:hover {
            text-decoration: none;
          }

          i {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: white;
            color: $primary-color;
            line-height: 28px;
            padding-left: 12px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
// footer start
footer {
  background-color: $footer-bg;
  // footer-section-1 start
  #contact {
    color: $footer-color;
    font-size: 15px;

    li {
      font-weight: 600;
    }

    .foot-col-4 {
      background: rgba(255, 255, 255, 0.05);
      padding: 37px;
      border-bottom: 2px solid #1ebeb6;
      h6 {
        color: white;
        font-size: 15px;
      }
    }
  }
  // footer -section-1-end
  // footer-setion-2 start
  #the-end {
    background: rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    color: white;
    p {
      margin-bottom: 0px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
// footer -section-2-end
// footer end

@media only screen and (max-width: 1200px) {
  .header-head {
    .head-first {
      p {
        text-align: center !important;
      }
    }
    .head-second {
      justify-content: center !important;
    }
  }
  .navbar-nav {
    flex-direction: column-reverse !important;
  }
  nav {
    height: auto !important;
    .navbar-brand {
      margin-bottom: 90px;
    }
  }
  .nav-contact {
    padding: 20px 0px;
  }
  #doctors {
    .tab-pane {
      .col-lg-6 {
        .info {
          span {
            font-size: 14px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  nav {
    height: auto !important;
    .navbar-brand {
      margin-bottom: 0px;
      display: flex;
      justify-content: flex-end;
      width: 300px;
      img {
        height: 45px !important;
      }
    }
    .nav-button {
      display: block;
    }
    .navigation {
      display: none !important;
    }
    .nav-contact {
      padding: 20px 0px;
    }
  }
}
@media only screen and (max-width: 992px) {
  #emergency {
    padding: 40px 0px !important;
  }
  #appointment {
    padding: 40px 0px !important;
  }
  #special {
    padding: 0px 90px;
    .special {
      height: 500px;
    }

    .spec-info {
      position: relative;
      left: 0px !important;
      top: 0px !important;
      margin-bottom: 30px !important;
      &::after {
        height: 0px !important;
      }
    }
  }
  #doctors {
    .nav {
      flex-direction: row !important;
      .nav-link {
        width: 50%;
        padding-right: 10px !important;
      }
    }
    .tab-pane {
      .col-lg-6 {
        padding: 0px !important;

        .info {
          span {
            font-size: 14px !important;
          }
          margin-bottom: 30px !important;
          &::after {
            left: 50% !important;
            top: -15px !important;
            border-top: transparent !important;
            border-bottom: 15px solid #ffffff !important;
            border-right: 15px solid transparent !important;
            border-left: 15px solid transparent !important;
            margin-left: -15px !important;
          }
        }
      }
    }
  }

  footer {
    #the-end {
      .end-col-1 {
        display: flex !important;
        justify-content: center !important;
      }
      .end-col-2 {
        display: flex !important;
        justify-content: center !important;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .header-head {
    display: none;
  }

  nav {
    height: auto !important;
    .navbar-brand {
      margin-bottom: 0px;
      display: flex;
      justify-content: flex-end;
      width: 300px;
      margin-left: 70px !important;
      img {
        height: 40px !important;
      }
    }

    .nav-contact {
      display: none !important;
    }
  }
  #emergency {
    padding: 20px 0px !important;
  }
  #appointment {
    padding: 20px 0px !important;
  }
  #special {
    padding: 0px 50px;
  }
  #doctors {
    .nav {
      flex-direction: column !important;
      .nav-link {
        width: 100% !important;
        padding-right: 10px !important;
      }
    }
  }
  footer {
    #contact {
      .foot-col-2 {
        align-items: flex-start !important;
        margin-top: 30px !important;
        h5 {
          margin-left: 15px !important;
        }
      }
      .foot-col-3 {
        margin-top: 30px !important;
      }
      .foot-col-4 {
        margin-left: 0px !important;
      }
    }
  }
}
@media only screen and (max-width: 577px) {
  nav {
    height: auto !important;
    .navbar-brand {
      margin-bottom: 0px;
      display: flex;
      justify-content: flex-end;
      width: max-content;
      margin-left: 10px !important;
      img {
        height: 40px !important;
      }
    }
  }
  #emergency {
    .emer-img {
      &::before {
        height: 230px;
        width: 230px;
      }
      &::after {
        height: 190px;
        width: 190px;
      }
    }
  }
  #special {
    padding: 0px 30px;
    .special {
      height: 250px !important;
    }
  }
  footer {
    #the-end {
      .end-icon-1 {
        margin: 0px 2px !important;
      }
      .end-icon-2 {
        margin: 0px 2px !important;
      }
      .end-icon-3 {
        margin: 0px 2px !important;
      }
    }
  }
}
