// 1200 * 1200 * 1200 * 1200 * RESPONSIVE 1200 * 1200 * 1200 * 1200
// 1200 * 1200 * 1200 * 1200 * RESPONSIVE 1200 * 1200 * 1200 * 1200
// 1200 * 1200 * 1200 * 1200 * RESPONSIVE 1200 * 1200 * 1200 * 1200
@media only screen and (max-width: 1200px) {
  // HEADER 1200 * HEADER 1200 * HEADER 1200 * HEADER 1200 * 
  .header-head {
    .head-first {
      p {
        text-align: center !important;
      }
    }
    .head-second {
      justify-content: center !important;
    }
  }
  .navbar-nav {
    flex-direction: column-reverse !important;
  }
  nav {
    height: auto !important;
    .navbar-brand {
      margin-bottom: 90px;
    }
  }
  .nav-contact {
    padding: 20px 0px;
  }

  // DOCTORS 1200 * DOCTORS  1200 * DOCTORS 1200 * DOCTORS 1200 * 
  #doctors {
    .tab-pane {
      .col-lg-6 {
        .info {
          span {
            font-size: 14px !important;
          }
        }
      }
    }
  }

  // TESTIMONIALS 1200 * TESTIMONIALS 1200 * TESTIMONIALS 1200 * 
  #testimonials {
    .test-head {
      &::before {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: -100px !important;
      }

      &::after {
        top: -150%;
        height: 1000px !important;
        width: 100%;
      }
    }
  }
}

// 1023 * 1023 * 1023 * 1023 * RESPONSIVE 1023 * 1023 * 1023 * 1023
// 1023 * 1023 * 1023 * 1023 * RESPONSIVE 1023 * 1023 * 1023 * 1023
// 1023 * 1023 * 1023 * 1023 * RESPONSIVE 1023 * 1023 * 1023 * 1023
@media only screen and (max-width: 1023px) {
  // HEADER 1023 * HEADER 1023 * HEADER 1023 * HEADER 1023 * HEADER 1023* 
  nav {
    height: auto !important;
    .navbar-brand {
      margin-bottom: 0px;
      display: flex;
      justify-content: flex-end;
      width: 300px;
      img {
        height: 45px !important;
      }
    }
    .nav-button {
      display: block !important;
    }
    .navigation {
      display: none !important;
    }
    .nav-contact {
      padding: 20px 0px;
    }
  }
}

// 992 * 992 * 992 * 992 * RESPONSIVE 992 * 992 * 992 * 992
// 992 * 992 * 992 * 992 * RESPONSIVE 992 * 992 * 992 * 992
// 992 * 992 * 992 * 992 * RESPONSIVE 992 * 992 * 992 * 992
@media only screen and (max-width: 992px) {
  
// * HOME 992 * HOME 992 * HOME 992 * HOME 992  HOME 992 * HOME 992 
  #home {
    .carousel-inner {
      .layer {
        .text {
          margin-top: 50px !important;
          h1 {
            font-size: 60px !important;
          }
        }
      }
    }
  }

  // SERVICE 992  * SERVICE 992 * SERVICE 992 * SERVICE 992 * SERVICE 992 *  
  #service {
    .col-lg-6 {
      margin-bottom: 40px;
      .modalIntro {
        position: relative !important;
        left: 0 !important;
        bottom: 0px !important;
      }
    }
  } 

  // APPOINTMENT 992 *  APPOINTMENT 992 * APPOINTMENT 992 * APPOINTMENT 992 * 
  #appointment {
    padding: 40px 0px !important;
  }

  //  EMERGENCY 992 * EMERGENCY 992 EMERGENCY 992 * EMERGENCY 992
  #emergency {
    padding: 40px 0px !important;
  }

  // SPECIAL 992 * SPECIAL 992 * SPECIAL 992 * SPECIAL 992 * SPECIAL 992 * 
  #special {
    padding: 0px 90px;
    .special {
      height: 500px;
    }

    .spec-info {
      position: relative;
      left: 0px !important;
      top: 0px !important;
      margin-bottom: 30px !important;
      &::after {
        height: 0px !important;
      }
    }
  }

  // DOCTORS 992 * DOCTORS 992 * DOCTORS 992 * DOCTORS 992 * DOCTORS 992* 
  #doctors {
    .nav {
      flex-direction: row !important;
      .nav-link {
        width: 50%;
        padding-right: 10px !important;
      }
    }
    .tab-pane {
      .col-lg-6 {
        padding: 0px !important;

        .info {
          span {
            font-size: 14px !important;
          }
          margin-bottom: 30px !important;
          &::after {
            left: 50% !important;
            top: -15px !important;
            border-top: transparent !important;
            border-bottom: 15px solid #ffffff !important;
            border-right: 15px solid transparent !important;
            border-left: 15px solid transparent !important;
            margin-left: -15px !important;
          }
        }
      }
    }
  }

  // TESTIMONIALS 992 * TESTIMONIALS 992* TESTIMONIALS 992* TESTIMONIALS 992*
  #testimonials {
    .test-head {
      padding-left: 0px !important;
      padding-right: 0px !important;
      &::before {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: -100px !important;
      }

      &::after {
        height: 700% !important;
      }
    }
    .col-lg-7 {
      padding: 0px 100px !important;
    }
  }

  // CONTACT 992 * CONTACT 992* CONTACT 992* CONTACT 991* CONTACT 992*
  #contact {
    .col-lg-7 {
      .contact-info {
        flex-direction: column !important;
        bottom: -30px;
        box-shadow: 0 0 10px #e7e7e7 !important;
        .contact-info-item {
          margin: 0px !important;
          margin-bottom: 20px !important;
        }
      }
    }
    .col-lg-5 {
      padding-top: 50px !important;
    }
  }

  // FOOTER 992* FOOTER 992* FOOTER 992* FOOTER 992* FOOTER 992* FOOTER 992*
  footer {
    #the-end {
      .end-col-1 {
        display: flex !important;
        justify-content: center !important;
      }
      .end-col-2 {
        display: flex !important;
        justify-content: center !important;
      }
    }
  }
}

// 767 * 767 * 767 * 767 * RESPONSIVE 767 * 767 * 767 * 767
// 767 * 767 * 767 * 767 * RESPONSIVE 767 * 767 * 767 * 767
// 767 * 767 * 767 * 767 * RESPONSIVE 767 * 767 * 767 * 767
@media only screen and (max-width: 767px) {
  // HEADER 767 * HEADER 767 * HEADER 767* HEADER 767* HEADER 767* 
  .header-head {
    display: none;
  }

  nav {
    height: auto !important;
    .navbar-brand {
      margin-bottom: 0px;
      display: flex;
      justify-content: flex-end;
      width: 300px;
      margin-left: 70px !important;
      img {
        height: 40px !important;
      }
    }

    .nav-contact {
      display: none !important;
    }
  }

  // HOME 767 * HOME 767 * HOME 767 * HOME 767 * HOME 767 * 
  #home {
    .carousel-inner {
      .layer {
        .text {
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-top: 50px !important;
          h1 {
            font-size: 50px !important;
          }
          .fa-heartbeat {
            top: 0px !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
            font-size: 100px !important;
          }
        }
      }
    }
  }

  // EMERGENCY 767 * EMERGENCY 767* EMERGENCY 767* EMERGENCY 767*
  #emergency {
    padding: 20px 0px !important;
    .emer-img {
      display: none !important;
    }
  }

  // APPOINTMENT 767*  APPOINTMENT 767*  APPOINTMENT 767*  APPOINTMENT 767*
  #appointment {
    padding: 20px 0px !important;
  }

  // SERVICE 767 *SERVICE * SERVICE 767 * SERVICE 767 * SERVICE 767 *
  #service {
    .col-lg-6 {
      .img-shape {
        padding: 0px !important;
      }
    }
    .col-lg-6 {
      padding-left: 15px !important;
    }
  }

  // BLOG-SINGLE 767 * BLOG-SINGLE 767 * BLOG-SINGLE 767 * BLOG-SINGLE 767 *
  #blog-single {
    .post-tags {
      flex-direction: column !important;
      justify-content: center;
    }
  }

  // SPECIAL 767 * SPECIAL 767 * SPECIAL 767 * SPECIAL 767 * SPECIAL 767 * 
  #special {
    padding: 0px 50px;
  }

  // DOCTORS 767 * DOCTORS 767 * DOCTORS 767 * DOCTORS 767 * DOCTORS 767 * 
  #doctors {
    .nav {
      flex-direction: column !important;
      .nav-link {
        width: 100% !important;
        padding-right: 10px !important;
      }
    }
  }

  // TESTIMONIALS 767 * TESTIMONIALS 767 * TESTIMONIALS 767 * TESTIMONIALS
  #testimonials {
    .col-lg-7 {
      padding: 0px 60px !important;
    }
  }

  // FOOTER 767* FOOTER 767 * FOOTER  767* FOOTER  767* FOOTER 767 * FOOTER
  footer {
    #contacts {
      .foot-col-2 {
        align-items: flex-start !important;
        margin-top: 30px !important;
        h5 {
          margin-left: 15px !important;
        }
      }
      .foot-col-3 {
        margin-top: 30px !important;
      }
      .foot-col-4 {
        margin-left: 0px !important;
      }
    }
  }
}
// 577 * 577 * 577 * 577 * RESPONSIVE 577 * 577 * 577 * 577
// 577 * 577 * 577 * 577 * RESPONSIVE 577 * 577 * 577 * 577
// 577 * 577 * 577 * 577 * RESPONSIVE 577 * 577 * 577 * 577
@media only screen and (max-width: 577px) {
  // HEADER 577 * HEADER 577 * HEADER 577 * HEADER 577 * HEADER 577 
  nav {
    height: auto !important;
    .navbar-brand {
      margin-bottom: 0px;
      display: flex;
      justify-content: flex-end;
      width: max-content;
      margin-left: 10px !important;
      img {
        height: 40px !important;
      }
    }
  }

// HOME 577 * HOME 577 * HOME 577 *HOME 577 * HOME 577 * HOME 577 *
  #home {
    .carousel-inner {
      .layer {
        .text {
          h4 {
            font-size: 16px;
          }
          margin-top: 18px !important;
          h1 {
            font-size: 38px !important;
          }
          .btn {
            font-size: 14px;
            padding: 4px 0px;
            width: 180px !important;
          }
        }
      }
    }
  }


  // EMERGENCY  577* EMERGENCY  577* EMERGENCY 577 * EMERGENCY 577
  #emergency {
    .emer-img {
      &::before {
        height: 230px;
        width: 230px;
      }
      &::after {
        height: 190px;
        width: 190px;
      }
    }
  }

// APPOINTMENT 577 * APPOINTMENT 577 * APPOINTMENT 577 * APPOINTMENT 577 
  #appointment {
    .appoinment-box {
      .app-absolute {
        position: relative !important;
      }
    }
  }

// SERVICE 577 *  SERVICE 577 * SERVICE 577 * SERVICE 577 * SERVICE 577 *
  #service {
    .shape-bottom{
      img{
        opacity: 0 !important;
      }
    }
    .col-lg-6 {
      padding-right: 15 !important;
      margin-bottom: 40px;
      .modalIntro {
        flex-direction: column;
        position: relative !important;
        left: 0 !important;
        bottom: -20px !important;
        padding: 50px 30px !important;
        .video{
          a{
            margin-bottom: 20px;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 10px !important;
          h5 {
            font-size: 17px !important;
            margin-top: 20px !important;
          }
        }
      }
    }
    .col-lg-6 {
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        text-align: center;
        ul {
          text-align: left;
          flex-direction: column;
          i{
            margin-right: 0px !important;
          }
          a{
            font-size: 17px !important;
          }
        }
      }
      padding-right: 15px !important;
      h2 {
        font-size: 25px !important;
      }
    }
  }

 // SPECIAL 577 * SPECIAL 577 * SPECIAL 577 * SPECIAL 577* SPECIAL 577* 
  #special {
    padding: 0px 30px;
    .special {
      height: 250px !important;
    }
  }

  // TESTIMONIALS 577 * TESTIMONIALS 577 * TESTIMONIALS 577 * 
  #testimonials {
    .test-head {
      h2 {
        font-size: 15px !important;
      }
      &::before {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: -100px !important;
      }

      &::after {
        height: 600% !important;
      }
    }
    .col-lg-7 {
      padding: 0px 15px !important;
    }
  }

  // FOOTER 577 * FOOTER 577 * FOOTER 577 * FOOTER 577* FOOTER 577 * 
  footer {
    #contacts {
      .foot-col-1 {
        .col-2.foot {
          padding-right: 0px !important;
          padding-left: 20px !important;
        }
      }
    }
    #the-end {
      .end-icon-1 {
        margin: 0px 2px !important;
      }
      .end-icon-2 {
        margin: 0px 2px !important;
      }
      .end-icon-3 {
        margin: 0px 2px !important;
      }
    }
  }
// BLOG-SINGLE 577 * BLOG-SINGLE 577 * BLOG-SINGLE 577 * 
  #blog-single {
    
    .comments-title {
      h5 {
        text-align: center;
      }
    }
    .commen-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0px !important;
      .content {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          text-align: center;
        }
      }
    }
  }
}
// 450 * 450 * 450 * 450 * RESPONSIVE 450 * 450 * 450 * 450
// 450 * 450 * 450 * 450 * RESPONSIVE 450 * 450 * 450 * 450
// 450 * 450 * 450 * 450 * RESPONSIVE 450 * 450 * 450 * 450
@media only screen and (max-width: 450px) {
  // BLOG-SINGLE 450 * BLOG-SINGLE 450 * BLOG-SINGLE 450 * 
  #blog-single {
    .post-pagi-area {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a {
        width: max-content;
        margin-bottom: 5px;
      }
    }
  }
  #special{
    .spec-info{
      padding: 20px !important;
    }
  }
}

// 350 * 350 * 350 * 350 * RESPONSIVE 350 * 350 * 350 * 350
// 350 * 350 * 350 * 350 * RESPONSIVE 350 * 350 * 350 * 350
// 350 * 350 * 350 * 350 * RESPONSIVE 350 * 350 * 350 * 350
@media only screen and (max-width: 350px) {
  // HOME 350 * HOME 350 * HOME 350 * HOME 350 * HOME 350 *
  #home {
    #carouselExampleInterval {
      .carousel-inner {
        .layer {
          img {
            object-fit: contain !important;
          }
          .text {
            margin-top: 10px !important;
            h4 {
              font-size: 14px !important;
            }
            h1 {
              font-size: 22px !important;
            }

            .btn {
              font-size: 14px;
              padding: 4px 0px;
              width: 180px !important;
            }
            .fa-heartbeat {
              font-size: 40px !important;
            }
          }
        }
      }
    }
  }
}
